#timer-control {
<<<<<<< HEAD
  width: 30%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  #timer-control {
    width: 100%;
  }
=======
  width: 100%;
  text-align: center;
>>>>>>> 8b902cd4c7a723f3ca71e838559d0945668ae1e6
}
