.length-control {
  width: 100%;
  display: grid;
  place-items: center;
}

#break-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

#session-label {
  display: flex;
  justify-content: center;
  align-items: center;
}