#timer-control {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}

#timer-label {
  text-align: center;
}

.desactive:disabled {
  background-color: #ccc;
  color: #888;
  cursor: not-allowed;
}

@media screen and (max-width: 480px) {
  #timer-control {
    width: 100%;
    justify-content: space-around;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  #timer-control {
    width: 100%;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1025px) {
  #timer-control {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

  }
}